body {
   background-color: #ededed;
   color: #303030;
   font-family: Miriam Libre, "Courier New", monospace;
   font-size: 1.0rem;
   line-height: 1.5rem;
   margin-left: 12rem;
}

@media (max-width: 1000px) {
   body {
      margin-left: 0rem;
   }
}

.wrapper {
   width: fit-content;
   max-width: 45rem;
   margin: 2rem auto;
   padding: 0 1rem;
}

.created {
  font-style: italic;
  text-align: center;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: 0px;
  margin-right: auto;
}

img.home-head {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

img.home {
   display: block;
   margin-left: 0px;
   margin-right: auto;
   width: 200px;
   height: 120px;
   border-radius: 16px;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
   object-fit: cover;
}

img.full {
  border-radius: 12px;
  width: 51rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: -6rem;
}

img.small {
  border-radius: 12px;
  width: 41rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

img.inline-l {
  border-radius: 12px;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  margin-right: 1.0rem;
  float: left;
}

img.inline-r {
  border-radius: 12px;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  margin-left: 1.0rem;
  float: right;
}

@media (max-width: 1000px) {
   img.small {
      width: 100%;
      margin-left: 0rem;
   }
   img.full {
      width: 100%;
      margin-left: 0rem;
   }
}

a.back:hover {
}

h1 { 
  color: #a00000;
  line-height: 1.8rem; 
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2 { 
  color: #a00000;
  padding-top: 1rem;
  line-height: 1.5rem; 
  font-size: 1.1rem;
  &:before { content: '// ' }
  text-align: center;
}

h3 {
}

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
}

ul.home {
  margin: 0;
  padding: 0;
  padding-left: 0.0rem;
}

a:link {
}

a:visited {
}

a:hover {
}

a:active {
} 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #ededed;
}

span.date {
  color: #a4a4a4;
  font-style: italic;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.toc {
  font-size: 0.9rem;
  float: left;
  width: 14rem;
  margin-left: -15rem;
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
   .toc {
      width: 100%;
      margin-left: 0rem;
   }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 1.0rem;
}

ul li::before {
  content: "\25CF";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #a00000; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul li.home::before {
  content: "";
}

.column {
  float: left;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.info {
  font-size: 0.9rem;
  background: #eeeeee;
  border-radius: 8px;
  margin-right: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  float: left;
  margin-left: -13rem;
  width: 27rem;
}

@media (max-width: 1000px) {
   .info {
      width: 97%;
      margin-left: 0rem;
   }
}

hr {
   border-top: 3px solid #a00000;
   width: 56rem;
   margin-left: -6rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

/** Syntax highlighting styles */
.highlight { 
   background: #202531; 
   border-radius: 8px;
   margin-left: -6rem;
   width: 51rem;
   line-height: 1.2rem;
   font-size: 0.9rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

@media (max-width: 1000px) {
   .highlight {
      margin-left: 0rem;
      width: 97%
   }
}

pre {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

pre, code { 
  font-family: Source Code Pro;
}

code.language-plaintext {
   font-family: Source Code Pro;
   background-color: #e6e9ea;
   padding: 0em 0.2em;
   border-radius: 3px;
   font-style: italic;
}

.highlight pre { white-space: pre; overflow: auto; }
.highlight .c { color: #6d7079; font-style: italic; } /* Comment */
.highlight .err { color: #ffffff } /* Error */
.highlight .g { color: #ccced3 } /* Generic */
.highlight .k { color: #e16679 } /* Keyword */
.highlight .l { color: #63ddf5 } /* Literal */
.highlight .n { color: #bec1c6 } /* Name */
.highlight .o { color: #a0bcf0 } /* Operator */
.highlight .x { color: #ffffff } /* Other */
.highlight .p { color: #a7c4f9 } /* Punctuation */
.highlight .cm { color: #6d7079; font-style: italic; } /* Comment.Multiline */
.highlight .cp { color: #6d7079; font-weight: bold; font-style: italic; } /* Comment.Preproc */
.highlight .c1 { color: #6d7079; font-style: italic; } /* Comment.Single */
.highlight .cs { color: #6d7079; font-style: italic; } /* Comment.Special */
.highlight .gd { color: #ffffff } /* Generic.Deleted */
.highlight .ge { color: #ffffff } /* Generic.Emph */
.highlight .gr { color: #ffffff } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #ffffff } /* Generic.Inserted */
.highlight .go { color: #444444; background-color: #222222 } /* Generic.Output */
.highlight .gp { color: #ffffff } /* Generic.Prompt */
.highlight .gs { color: #ffffff } /* Generic.Strong */
.highlight .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #ffffff } /* Generic.Traceback */
.highlight .kc { color: #e16679; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #e16679; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #e16679; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #e16679 } /* Keyword.Pseudo */
.highlight .kr { color: #e16679; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #e16679 } /* Keyword.Type */
.highlight .ld { color: #ffffff } /* Literal.Date */
.highlight .m { color: #a0ffe0 } /* Literal.Number */
.highlight .s { color: #fdeaa0 } /* Literal.String */
.highlight .na { color: #ffffff; } /* Name.Attribute */
.highlight .nb { color: #e16679 } /* Name.Builtin */
.highlight .nc { color: #ffffff } /* Name.Class */
.highlight .no { color: #ffffff } /* Name.Constant */
.highlight .nd { color: #ffffff } /* Name.Decorator */
.highlight .ni { color: #ffffff } /* Name.Entity */
.highlight .ne { color: #ffffff } /* Name.Exception */
.highlight .nf { color: #57b2ff } /* Name.Function */
.highlight .nl { color: #ffffff } /* Name.Label */
.highlight .nn { color: #ffffff } /* Name.Namespace */
.highlight .nx { color: #ffffff } /* Name.Other */
.highlight .py { color: #ffffff } /* Name.Property */
.highlight .nt { color: #ffffff } /* Name.Tag */
.highlight .nv { color: #ffffff } /* Name.Variable */
.highlight .ow { color: #e16679 } /* Operator.Word */
.highlight .w { color: #888888 } /* Text.Whitespace */
.highlight .mf { color: #a0ffe0 } /* Literal.Number.Float */
.highlight .mh { color: #a0ffe0 } /* Literal.Number.Hex */
.highlight .mi { color: #a0ffe0 } /* Literal.Number.Integer */
.highlight .mo { color: #a0ffe0 } /* Literal.Number.Oct */
.highlight .sb { color: #fdeaa0 } /* Literal.String.Backtick */
.highlight .sc { color: #fdeaa0 } /* Literal.String.Char */
.highlight .sd { color: #fdeaa0 } /* Literal.String.Doc */
.highlight .s2 { color: #fdeaa0 } /* Literal.String.Double */
.highlight .se { color: #fdeaa0 } /* Literal.String.Escape */
.highlight .sh { color: #fdeaa0 } /* Literal.String.Heredoc */
.highlight .si { color: #fdeaa0 } /* Literal.String.Interpol */
.highlight .sx { color: #fdeaa0 } /* Literal.String.Other */
.highlight .sr { color: #fdeaa0 } /* Literal.String.Regex */
.highlight .s1 { color: #fdeaa0 } /* Literal.String.Single */
.highlight .ss { color: #fdeaa0 } /* Literal.String.Symbol */
.highlight .bp { color: #62bf58 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #62bf58 } /* Name.Variable.Class */
.highlight .vg { color: #62bf58 } /* Name.Variable.Global */
.highlight .vi { color: #62bf58 } /* Name.Variable.Instance */
.highlight .il { color: #a0ffe0 } /* Literal.Number.Integer.Long */

img.comment-avatar {
   width: 2rem;
   left: -2.0rem;
   float: left;
   padding-left: 0.5rem;
   padding-right: 1rem;
}

a.comment-username {
   font-weight: bold;
   float: left;
}

div.comment-posted {
   float: left;
   padding-left: 1rem;
}

div.comment-body {
   padding-bottom: 2rem;
}

.post-comment-button {
}