<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
        {%- include head.html -%}
    <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <header>
          <div class="title-container">
            <div class=socials>
              <a href="https://bsky.app/profile/sambigos.bsky.social"><img class="social" src="/assets/bsky.webp">ramblz</a>
              <a href="https://github.com/samuelbigos"><img class="social" src="/assets/github.webp">progrz</a>
              <a href="https://sambigos.itch.io/"><img class="social" src="/assets/itch.png">thangz</a>
              <a href="https://www.instagram.com/sambi_stuff/"><img class="social" src="/assets/insta.png">fotoz</a>
            </div> 
            <span class="title"><a class="title" href="{{ site.url }}">{{ site.title }}</a></span>
            <br>
            {% if site.show_description == true %}
              <span class="description">{{ site.description }}</span>
            {% endif %}
          </div>
        </header>
        <br>
        
        {{ content }}
       
      </div>
    </main>
    </body>
</html>