<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
        {%- include head.html -%}
    <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <header>
          <div class="title-container">
            <div class=socials>
              <a href="https://twitter.com/Calneon">twitter</a> / 
              <a href="https://github.com/samuelbigos">github</a> /
              <a href="https://sambigos.itch.io/">itch.io</a>
            </div> 
            <span class="title"><a class="title" href="{{ site.url }}">{{ site.title }}</a></span>
            <br>
            {% if site.show_description == true %}
              <span class="description">{{ site.description }}</span>
            {% endif %}
          </div>
        </header>
        <br>
        
        {{ content }}
       
      </div>
    </main>
    </body>
</html>